@import url('bootstrap.css');

html, body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #f7f7f9;
}

.intro {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("img/bg2.jpg") no-repeat 50% 50%;
	background-size: cover;
	color: grey;
	display: table;
	top: 0;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-bottom: 10%;
}

.content h1 {
	color: #F9F3F4;
	text-shadow:3px 3px black;
	font-size: 650%;
	max-width: 2000px;
	padding-bottom: 100px
}

.intro .inner .btn {
	font-size: 300%;
	color: cyan;
	text-shadow:3px 3px black;
	border: 2px solid cyan;
	padding: 20px 20px;
	border-radius: 10px;
}

.intro .inner .btn:hover{
	color: #e83e8c;
	border: 2px solid #e83e8c;
}

#main-body-Section {
	width: 100%;
	height: 4500px;
	margin: auto;
}

#main-body-Section .jumbotron {
	height: 100%;
	width: 100%;
	color: black;
}

#First-Block {
	width: 90%;
	height: 11.5%;
	padding: 0;
	margin: auto;
}

#First-Block .display-3 {
	text-align: center;
	font-size: 420%;
}

#First-Block .text-body {
	width: 90%;
	height: 80%;
	margin: auto;
	color: black;
}
#First-Block .text-body p {
	color: black;
	text-indent: 25px;
	font-size: 150%;
}

#Second-Block {
	width: 90%;
	height: 47%;
	margin: auto;
	color: black;
	margin-top: .25rem;
	
}

#Second-Block .display-3 {
	text-align: center;
	font-size: 420%;
}

#Second-Block .text-body {
	width: 90%;
	height: 80%;
	margin: auto;
	color: black;
}
#Second-Block .text-body .form-control {
	background-color: white;
}

#Second-Block .text-body .card {
	height: 100%;
}

#Second-Block .card {
	width: 75%;
	margin: auto;
}

#Second-Block .card-body {
	width: 100%;
	text-align: center;
}

#Second-Block .card-body tr:hover {
	color: white;
	background-color:cyan;
}

#Second-Block .card-body tr:click {
	color: white;
	background-color:cyan;
}


#Second-Block .card-body tr {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	line-height: .1px;
}

#Second-Block .card-body th:state{
	color: red;
}

 

#go-button {
	margin: auto;
	margin-top: 75px;
	width: 50%;
}

#Third-Block {
	height: 35%;
	width: 90%;
	margin: auto;
}

#Predict-Block {
	width: 90%;
	height: 80%;
	margin: auto;
	margin-top: 10%;
}

#hot-words {
	width:25%;
	margin: auto;
}


#Load-Block {
	height:20%;
	width: 70%;
	margin: auto;
	margin-top: 10rem;
	padding-top: .5rem;
	margin-bottom: 20rem;
}

#loading {
    font-size: 30px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20rem;
    margin-left: 10rem;
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
 }


#load-text {
	margin: auto;
	text-align: center;
	margin-top: 20rem;

}

#load-text h1 {
	font-size: 500%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#hot-words .table {
	margin-bottom: 0;
	color: black;
}

#hot-words .card-body {
	
}

#Third-Block .card-body tr {
	padding: 0;
	margin: 0;
	line-height: .2;
	text-align: center;
}

#hot-words table {
	border:1px solid black;
}

#hot-words thead {
	border:1px solid black;
}

#hot-words td.state {
	padding-right: .05rem;
	padding-left: .05rem;
}

#Predict-Block{
	margin-top: 10px;
}

#predict-title {
	text-align: center;
	padding-top: 2rem;
	margin: auto;
	font-size: 320%;
}

#predict-result {
	text-align: center;
	margin-bottom: 2rem;
	font-size: 250%;
}

#predict-again {
	width: 40%;
	margin: auto;
	margin-top: 1rem;
}































